/* CSS fil! woohooo */

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(grey, white);
    background-size: cover;
}

#top-box {
    margin-top: -100px;
    width: 750px;
    height: 320px;
    background-color: rgb(1, 89, 104);
    border-radius: 1px 1px 50px 1px;
    position: absolute;
}

.main-container {
    display: grid;
    grid-gap: 10px;
    width: 1000px;
    background-color: rgba(250, 250, 250, 0.397);
    border: solid black 1,5px;
    box-shadow: lightslategrey;
    border-radius: 0px 50px;
    padding: 50px;
    position: relative;
    margin-top: 80px;
    margin-left: 100px;
    margin-bottom: 500px;
}

#btn-submit {
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(202, 202, 202);
    font-size: 16px;
    font-weight: bold;

}